<div class="list">
    <p class="tag">洗洗睡</p>
    <h3>洗洗睡标题</h3>
    <!--只有文字类型-->
    <div class="content1">
        <p>洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容</p>
    </div>
    <!--文字,图片-->
    <div class="content2">
        <p>洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容洗洗睡内容</p>
        <img src="images/post_1.png">
    </div>
    <!--三张图片-->
    <div class="content3">
        <ul>
            <li><img src="images/post_3.png" alt=""></li>
            <li><img src="images/post_3.png" alt=""></li>
            <li><img src="images/post_3.png" alt=""></li>
        </ul>
    </div>
</div>